.imageWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;

  &.empty {
    align-self: flex-end;

    & > span {
      font-size: 11px;
      font-weight: bold;
    }
  }
}

.sequenceRow {
  padding: 10px;
  border: 1px solid var(--sequence-row-border-color);
  border-radius: 8px;
  background: var(--sequence-row-bg);

  &:empty {
    display: none;
  }

  &.editing {
    background-color: var(--sequence-row-editing-bg);
    border: 1px solid var(--sequence-row-editing-border-color);
    transition-property: border, background-color;
    transition-duration: 0.2s;
  }
}

.sequence {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.sortableWrapper {
  position: relative;

  &:hover {
    & .deleteButton {
      display: flex !important;
    }
  }
}

.addButton {
  border: none;
  background-color: transparent;
  width: calc((100% - 30px) / 3);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 -10px;
  color: var(--text-color);

  & svg {
    width: 50px;
    height: 50px;
  }
}

body[data-mobile='true'] {
  & .sortableWrapper {
    width: calc((100% - 15px) / 3);
  }

  & .sequenceRow {
    padding: 10px;
  }
}
