.imageWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  user-select: none;
}

.sequenceRow {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background: #f5f5f5;

  &.mobile {
    padding: 10px;
  }

  &:empty {
    display: none;
  }
}

.sequence {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.sortableWrapper {
  position: relative;

  &:hover {
    & .deleteButton {
      display: flex !important;
    }
  }

  .mobile & {
    width: calc((100% - 30px) / 3);
  }
}

.addButton {
  border: none;
  background-color: transparent;
  width: calc((100% - 30px) / 3);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 -10px;

  & svg {
    width: 50px;
    height: 50px;
  }
}
