.switcher {
  background-color: var(--switcher-bg);
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  position: relative;
  transition: background-color 0.2s;

  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--switcher-circle-bg);
    border-radius: 50px;
    z-index: 0;
    left: 0;
    transition: transform 0.2s;
    transform: translateX(var(--switcher-circle-position));
  }

  & svg {
    z-index: 1;
    transition: color 0.2s;

    & + svg {
      margin-left: 9px;
    }
  }

  & .sunIcon {
    color: var(--switcher-sun-color);
    margin-left: 2px;
  }

  & .moonIcon {
    color: var(--switcher-moon-color);
  }
}
