.list {
  padding: 0 10px 10px;
  margin: 0;
}

.listWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body[data-mobile='true'] {
  & .listWrapper {
    height: auto;
  }

  & .list {
    padding: 0 5px;
  }
}
