.previewWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  min-width: 0;
  justify-content: space-between;
  height: calc(100vh - 85px);
  overflow: hidden;

  .mobile & {
    padding-left: 0;
    height: auto;
    flex: 1 1 auto;
  }
}

.blockWrapper + .blockWrapper {
  margin-top: 10px;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  overflow: hidden;
  overflow-y: scroll;
  flex: 1;

  .mobile & {
    height: auto;
  }
}

.withTopMargin {
  margin-top: 10px;
}

.timeWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;

  & .settingsButton {
    margin-right: 10px;
  }
}

.sequenceBlocks {
  flex: 1;

  &:empty {
    display: none;

    & + button {
      margin: 0;
    }
  }
}

.sequenceRow {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background: #f5f5f5;
  display: flex;

  &.mobile {
    padding: 10px;
  }
}

.controls {
  margin-bottom: 20px;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  button + button {
    margin: 0 0 0 10px;
  }

  .mobile & {
    flex-direction: column;

    button + button {
      margin: 10px 0 0;
    }
  }
}

.sequence {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
}

.imageWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  margin: 10px 0 0 10px;

  & img {
    pointer-events: none;
  }

  flex-grow: 1;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  transform-origin: 50% 50%;
  white-space: nowrap;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 2px solid transparent;

  &.repeating {
    border-color: #7798fc;
    transition: border-color 0.2s;
  }
}
