.list {
  padding: 0 10px 10px;
  margin: -10px 0 0;
  column-gap: 10px;
  columns: 160px;

  &.empty {
    margin: 10px 0 0;
  }
}

.listWrapper {
  padding-top: 30px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex: 1;

  &::-webkit-scrollbar {
    display: none;
  }
}

.asana {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

body[data-mobile='true'] {
  & .listWrapper {
    padding-top: 10px;
  }

  & .list {
    columns: 3;
    margin: 0;
    padding: 0 5px;
    column-gap: 5px;
    overflow: auto;
    overflow-y: auto;

    & .asana {
      width: 100%;
      break-inside: avoid;
      display: inline-flex;
      margin-top: 5px;

      &:first-child {
        margin-top: 10px;
      }
    }
  }
}
