.list {
  padding: 0 10px 10px;
  margin: -10px 0 0;
  column-gap: 10px;

  &.mobile {
    column-count: 3;
    margin: 0;
    padding: 0;
    column-gap: 5px;

    & .asana {
      width: 85px;

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }

  &:not(.mobile) {
    columns: 160px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

.asana {
  &:not(:first-child) {
    margin-top: 10px;
  }
}
