.list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
  overflow: hidden;
  overflow-y: scroll;

  .mobile & {
    margin: 0;
  }
}

.asana {
  width: calc((100% - 30px) / 3) !important;
}
