.wrapper {
  display: flex;
  box-sizing: border-box;
  transform-origin: 0 0;
  touch-action: none;
  margin: 10px 0 0 10px;
  border-radius: 8px;
}

body[data-mobile='true'] {
  & .wrapper {
    margin: 5px 0 0 5px;
  }
}
