@keyframes pop {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

.wrapper {
  display: flex;
  box-sizing: border-box;
  transform-origin: 0 0;
  touch-action: none;
  margin: 10px 0 0 10px;
  border-radius: 8px;

  &.dragOverlay {
    transition: box-shadow 200ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
    transform: scale(1.05);
    z-index: 999;
    box-shadow: 0 5px 10px 0 rgba(0 0 0 / 0.5);
  }
}

.item {
  cursor: grab;
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 10px;
  background-color: var(--card-bg);
  outline: none;
  box-sizing: border-box;
  list-style: none;
  transform-origin: 50% 50%;
  white-space: nowrap;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  transition: box-shadow 0.2s;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    .Remove {
      visibility: visible;
    }
  }

  &.repeating {
    box-shadow: 0 0 0 2px var(--repeat-color);
  }

  &.dynamic {
    box-shadow: 0 0 0 2px var(--dynamic-color);
  }

  &.bothBlocks {
    box-shadow:
      0 0 0 2px var(--repeat-color),
      inset 0 0 0 2px var(--dynamic-color);
  }

  &.dragging {
    cursor: grabbing;
    opacity: 0.5;
  }
}

.index {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background-color: var(--card-bg);
  font-size: 9px;
}

.deleteButton {
  right: -5px !important;
}

.repeatButton {
  right: 15px !important;

  &.singleButton {
    right: -5px !important;
  }
}

.copyButton {
  right: 55px !important;
}

.dynamicButton {
  right: 35px !important;

  &.singleButton {
    right: -5px !important;
  }

  &.multipleButton {
    right: 15px !important;
  }
}

.repeatButton,
.dynamicButton,
.copyButton,
.scrollButton,
.deleteButton {
  min-width: 17px !important;
  width: 17px !important;
  height: 17px !important;
  position: absolute !important;
  top: -7px !important;
  justify-content: center;
  align-items: center;
  display: flex !important;

  & svg {
    width: 10px;
    height: 10px;
  }
}

.scrollButton {
  right: -5px !important;
  top: 14px !important;
}

body[data-mobile='true'] {
  & .wrapper {
    margin: 5px 0 0 5px;
  }
}
