.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px;
  width: 100%;
}

.card {
  width: 100%;
}

.variationsWrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.variation {
  & > span {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }

  &.success,
  &.danger {
    border: none !important;
    color: #fff !important;
  }

  &.success {
    background-color: var(--success-color) !important;
  }

  &.readonly {
    pointer-events: none;
  }

  & + .variation {
    margin-top: 10px;
  }

  &.danger {
    background-color: var(--danger-color) !important;
  }
}

.bottomButton + .bottomButton {
  margin-top: 10px;
}
