.text {
  margin-right: 10px;
}

.row {
  justify-content: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.row + .row {
  margin-top: 10px;
}

.buttonsWrapper {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;

  & button:last-child {
    margin-left: 10px;
  }
}
