.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--card-bg);
  width: 350px;
  outline: none;
  flex-shrink: 0;
  border: none;
  transition: 0.3s box-shadow;
  box-shadow:
    0 6px 10px rgba(0 0 0/ 0.08),
    0 0 6px rgba(0 0 0 / 0.05);

  &.empty {
    justify-content: flex-end;
  }

  &.small {
    width: 160px;

    & .imageContainer {
      height: 80px;
    }

    & .title {
      font-size: 14px;
    }
  }

  & .title {
    width: 100%;
  }
}

button.card {
  @media (hover: hover) {
    cursor: pointer;

    &:hover {
      box-shadow:
        0 10px 20px rgba(0 0 0 / 0.12),
        0 4px 8px rgba(0 0 0/ 0.06);
    }
  }
}

.imageContainer {
  width: 100%;
  height: 200px;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.textContainer {
  display: flex;
  width: 100%;
}

body[data-mobile='true'] {
  & .card.small {
    & .title {
      font-size: 11px;
    }
  }
}
