.root {
  display: flex;
  width: 100%;
}

.sequenceBlocks {
  flex: 1;
  margin-top: 20px;

  &:empty {
    display: none;
  }
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  button + button {
    margin: 0 0 0 10px;
  }
}

.button {
  margin-top: 20px;
}

.timeWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;

  & .settingsButton {
    margin-right: 10px;
  }
}

.addBlockButton {
  margin-top: 10px;
}

.blockWrapper {
  cursor: pointer;

  & + .blockWrapper {
    margin-top: 10px;
  }
}

.resizable {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--resizable-border-color);
}

body[data-mobile='true'] {
  & .root {
    flex-direction: column;
  }

  & .actionButtons {
    flex-direction: column;

    button + button {
      margin: 10px 0 0;
    }
  }
}
