.main {
  flex: 1 1 auto;
  position: relative;
  display: flex;
}

.footer {
  text-align: center;
  padding: 20px;
}

.layout {
  &:not(.mobile) {
    max-height: 100vh;

    & .main {
      overflow: hidden;
    }

    & .header {
      justify-content: flex-end;
    }
  }
}

.header {
  padding: 0 15px !important;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
