.main {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

.footer {
  text-align: center;
  padding: 20px;
}

.layout {
  max-height: 100vh;
}

.header {
  padding: 0 15px !important;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

body[data-mobile='true'] {
  & .layout {
    max-height: auto;
  }

  & .main {
    overflow: auto;
  }

  & .header {
    justify-content: space-between;
  }
}
