.listWrapper {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.list {
  overflow: hidden;
  overflow-y: scroll;
}

.previewWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  min-width: 0;
  justify-content: space-between;
  height: calc(100vh - 150px);
}

.root {
  display: flex;
}

.sequences {
  flex: 1;
  margin-top: 20px;

  &:empty {
    display: none;
  }
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  overflow: hidden;

  button + button {
    margin-left: 10px;
  }
}

.button {
  margin-top: 20px;
}

.searchWrapper {
  padding-right: 10px;
  margin-bottom: 20px;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 10%);
  overflow: hidden;
  overflow-y: scroll;
}
