.previewWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  min-width: 0;
  justify-content: space-between;
  height: calc(100vh - 90px);

  .mobile & {
    padding-left: 0;
    height: auto;
    flex: 1 1 auto;
  }
}

.root {
  display: flex;
  width: 100%;

  &.mobile {
    flex-direction: column;
  }
}

.sequences {
  flex: 1;
  margin-top: 20px;

  &:empty {
    display: none;
  }
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  overflow: hidden;

  button + button {
    margin: 0 0 0 10px;
  }

  .mobile & {
    flex-direction: column;

    button + button {
      margin: 10px 0 0;
    }
  }
}

.button {
  margin-top: 20px;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 10%);

  .mobile & {
    height: auto;
  }
}

.listWrapper {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  flex: 1;

  .mobile & {
    height: auto;
  }
}
