.listWrapper {
  width: 440px;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
}

.list {
  overflow: hidden;
  overflow-y: scroll;
}

.previewWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.root {
  display: flex;
}

.sequences {
  flex: 1;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;

  button + button {
    margin-left: 10px;
  }
}
