.main {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

.footer {
  text-align: center;
  padding: 20px;
}

.layout {
  max-height: 100vh;
  min-height: 100% !important;
}

.header {
  padding: 0 15px !important;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body[data-mobile='true'] {
  & .layout {
    max-height: auto;
  }

  & .main {
    overflow: auto;
  }
}
