.root {
  display: flex;
  width: 100%;
}

.resizable {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--resizable-border-color);
}

body[data-mobile='true'] {
  & .root {
    flex-direction: column;
  }
}
