.searchWrapper {
  padding: 10px 10px 0;
  display: flex;
}

.filterIcon {
  margin-left: 10px;
  flex-shrink: 0;
}

.checkbox {
  display: flex;
  padding: 5px 12px;
}

.menu {
  max-height: 300px;
  overflow: auto;

  & > li {
    padding: 0 !important;
  }
}

.input {
  flex: 1;
}

body[data-mobile='true'] {
  & .searchWrapper {
    padding: 0;
  }
}
