.searchWrapper {
  padding: 10px 10px 0;
  margin-bottom: 30px;
  display: flex;

  &.mobile {
    padding: 0;
    margin-bottom: 10px;
  }
}

.filterIcon {
  margin-left: 10px;
  flex-shrink: 0;
}

.checkbox {
  display: flex;
  padding: 5px 12px;
}

.menu {
  max-height: 300px;
  overflow: auto;

  & > li {
    padding: 0 !important;
  }
}

.input {
  flex: 1;
}
