.searchWrapper {
  padding: 0 10px;
  display: flex;
}

.filterIcon {
  margin-left: 10px;
  flex-shrink: 0;
}

.checkbox {
  display: flex;
}

.menu {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;

  & > li {
    &:last-child {
      padding: 0 !important;
      margin-top: 10px !important;
      width: 100%;
    }
  }
}

.input {
  flex: 1;
}

body[data-mobile='true'] {
  & .searchWrapper {
    padding: 0;
  }
}
